<!-- todo not used -->


<p class="leading-relaxed mb-5 text-4xl text-gray-400"
  data-controller="global-text-input"
  data-global-text-input-message="<%= message %>"
>
  <span data-global-text-input-target="activated" class="text-indigo-500 border-r border-indigo-500"></span><span data-global-text-input-target="remaining" class="text-gray-400"></span>
</p>