<div data-controller="battle">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto">
      <div class="flex flex-wrap -m-4">

        <% 3.times do |i| %>
          <div data-controller="battle-enemy"
            data-battle-target="battleEnemy"
            data-battle-enemy-type="ENEMY"
            data-battle-enemy-image="https://i.pinimg.com/originals/d6/7f/f3/d67ff3058db565b279e5a3c2cee52a77.jpg"
            data-battle-enemy-name="Blue Slime"
            data-battle-enemy-level="<%= level = 1 + rand(10) %>"
            data-battle-enemy-targeted="<%= true %>"
            data-battle-enemy-max-health="<%= 1 + rand(10) * level %>"
            data-battle-enemy-attack-interval="<%= 15 - rand(1 + level) %>"
            data-battle-enemy-damage="4"
            data-action="
              spellDamageTarget@document->battle-enemy#receive_damage
              pauseBattle@document->battle-enemy#pause_battle
              resumeBattle@document->battle-enemy#resume_battle
            "
            class="p-4 lg:w-1/3"
          >
            <div data-battle-enemy-target="container"
              class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative"
            >
              <h2 data-battle-enemy-target="type" class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">&nbsp;</h2>
              <img data-battle-enemy-target="image" class="lg:h-48 md:h-36 w-48 mx-auto object-cover object-center my-2 rounded-full" src="https://dummyimage.com/400x400">
              <h1 data-battle-enemy-target="name" class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">&nbsp;</h1>
              <div class="w-full bg-gray-200 h-2 mb-1 rounded-lg">
                <div data-battle-enemy-target="healthBar"
                  class="bg-green-500 h-2 rounded-lg"
                ></div>
              </div>
              <div class="w-full bg-gray-200 rounded-lg h-1">
                <div data-battle-enemy-target="activityBar"
                  class="bg-blue-300 rounded-lg h-1"
                  style="width: 0%"
                ></div>
              </div>
              <div class="text-center leading-none flex justify-center absolute bottom-0 left-0 w-full pb-4">
                <span class="text-black mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity w-4 h-4 mr-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
                  </svg>
                  <span data-battle-enemy-target="level"></span>
                </span>
                <span class="text-blue-400 inline-flex items-center leading-none text-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill w-4 h-4 mr-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                  </svg>
                  <span data-battle-enemy-target="element"></span>
                </span>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font mt-8">
    <div class="container px-5 pb-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -my-8">
        <div class="py-8 px-4 lg:w-2/3">
          <div data-controller="casting-spell"
            data-casting-spell-name="Lightning Bolt"
            data-casting-spell-element="Light"
            data-casting-spell-base-damage="5"
            data-casting-spell-max-time="60"
            data-action="
              global-text-input:startedCastingSpell->casting-spell#start_casting
              global-text-input:finishedCastingSpell->casting-spell#finish_casting
              global-text-input:incorrectSpellCharacter->casting-spell#ding_accuracy
            "
            class="h-full flex items-start"
          >
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none text-yellow-500">
              <span data-casting-spell-target="elementName"
                class="pb-2 mb-2 border-b-2 border-gray-200"
              >&nbsp;</span>
              <span class="font-medium text-lg title-font leading-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-star-fill mx-auto" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                </svg>
              </span>
            </div>
            <div class="flex-grow pl-6">
              <div class="flex flex-row items-start">
                <div>
                  <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">CASTING SPELL</h2>
                  <h1 data-casting-spell-target="spellName"
                    class="title-font text-xl font-medium text-gray-900 mb-3"
                  >&nbsp;</h1>
                </div>
                <div class="flex-grow ml-8">
                  <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">CAST POWER</h2>
                  <div class="w-full bg-gray-200 h-2 my-1 rounded-lg">
                    <div data-casting-spell-target="accuracyPowerBar" class="bg-orange-200 h-2 rounded-lg"></div>
                  </div>
                  <div class="w-full bg-gray-200 h-2 my-1 rounded-lg">
                    <div data-casting-spell-target="timePowerBar" class="bg-indigo-200 h-2 rounded-lg"></div>
                  </div>
                </div>
              </div>

              <div class="leading-relaxed mb-5 text-4xl text-gray-400"
                data-controller="global-text-input"
                data-global-text-input-message="There is no cow level!"
                data-casting-spell-target="spellIncantation"
              >
                <span data-global-text-input-target="activated" class="text-indigo-500 border-r border-indigo-500"></span><span data-global-text-input-target="remaining" class="text-gray-400"></span>
              </div>

              <div class="inline-flex items-center">
                <img alt="blog" src="https://i.pinimg.com/originals/d6/7f/f3/d67ff3058db565b279e5a3c2cee52a77.jpg" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-3 border-r border-gray-300 pr-4">
                  Targeting
                  <span class="title-font font-medium text-gray-900">Blue Slime #1</span>
                </span>
                <div data-controller="global-text-input"
                  data-global-text-input-message="Change target..."
                  class="ml-4 text-gray-400 text-2xl flex-col"                
                >
                  <span data-global-text-input-target="activated" class="text-indigo-500 border-r border-indigo-500"></span><span data-global-text-input-target="remaining" class="text-gray-400"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-8 px-4 lg:w-1/3">
          <div class="h-full flex items-start">
            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">YOUR HEALTH</h2>

              <div 
                data-controller="player"
                data-player-max-health="40"
                data-action="
                  playerDamage@document->player#receive_damage
                "
                class="mb-4"
              >
                <div class="w-full bg-gray-200 h-4 rounded-lg">
                  <div data-player-target="healthBar" class="bg-green-500 h-4 rounded-lg"></div>
                </div>
                <p class="text-right text-green-800">
                  HP:
                  <span data-player-target="currentHealth"></span>
                  /
                  <span data-player-target="maxHealth"></span>
                </p>
              </div>

              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">OTHER ACTIONS</h2>

              <div data-controller="global-text-input"
                data-global-text-input-message="Open spellbook..."
                class="bg-gray-100 rounded-lg p-4 text-2xl text-gray-400 my-1"                
              >
                <span data-global-text-input-target="activated" class="text-indigo-500 border-r border-indigo-500"></span><span data-global-text-input-target="remaining" class="text-gray-400"></span>
              </div>
              <div data-controller="global-text-input"
                data-global-text-input-message="Use item?"
                class="bg-gray-100 rounded-lg p-4 text-2xl text-gray-400 my-1"                
              >
                <span data-global-text-input-target="activated" class="text-indigo-500 border-r border-indigo-500"></span><span data-global-text-input-target="remaining" class="text-gray-400"></span>
              </div>
              <div data-controller="global-text-input"
                data-global-text-input-message="Run away!"
                class="bg-gray-100 rounded-lg p-4 text-2xl text-gray-400 my-1"                
              >
                <span data-global-text-input-target="activated" class="text-indigo-500 border-r border-indigo-500"></span><span data-global-text-input-target="remaining" class="text-gray-400"></span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>